### ["Even" if i%2==0 else "Odd" for i in range(8)]

In [3]:
for i in range(8):
    if i%2==0:
        print('Even')
    else:
        print("Odd")

Even
Odd
Even
Odd
Even
Odd
Even
Odd

### [val if val % 2 else -val for val in range(20) if val % 3]

In [4]:
for val in range(20):
    if val%3:
        if val %2:
            print(val)
        else:
            print (-val)

1
-2
-4
5
7
-8
-10
11
13
-14
-16
17
19

### ["Even" if i%2==0 else "Odd" for i in range(10)]

In [8]:
for i in range(10):
    if i%2==0:
        print('even')
    else:
        print('odd')

even
odd
even
odd
even
odd
even
odd
even
odd

### [ x if x%2 else x*100 for x in range(1, 10) ]

In [9]:
for x in range(1,10):
    if x%2:
        print(x)
    else:
        print(x*100)

1
200
3
400
5
600
7
800
9

### [y for y in range(100) if y % 2 == 0 if y % 5 == 0]

In [10]:
for y in range(100):
    if y%2==0:
        if y%5==0:
            print(y)

0
10
20
30
40
50
60
70
80
90

### a = [22, 13, 45, 50, 98, 69, 43, 44, 1]
### [x+1 if x >= 45 else x+5 for x in a]

In [13]:
a=[22,13,45,50,98,69,43,44,1]
for x in a:
    if x>=45:
        print(x+1)
    else:
        print(x+5)

27
18
46
51
99
70
48
49
6

### v = [22, 13, 45, 50, 98, 69, 43, 44, 1]
### [ (x+1 if x >=45 else x+5)  for x in v ]

In [14]:
v=[22,13,45,50,98,69,43,44,1]
for x in v:
    if x>=45:
        print(x+1)
    else:
        print(x+5)

27
18
46
51
99
70
48
49
6

### [x if x % 2 else x * 100 for x in range(1, 10) ]

In [16]:
for x in range(1,10):
    if x%2:
        print(x)
    else:
        print(x*100)

1
200
3
400
5
600
7
800
9

### [[x*100, x][x % 2 != 0] for x in range(1,11)]

In [17]:
for x in range(1,11):
    if x%2!=0:
        print(x)
    else:
        print(x*100)

1
200
3
400
5
600
7
800
9
1000

### [x if x % 2 != 0 else x * 100 for x in range(1,10)]

In [19]:
for x in range(1,10):
    if x%2!=0:
        print(x)
    else:
        print(x*100)

1
200
3
400
5
600
7
800
9

### [a if a else 2 for a in [0,1,0,3]]

In [23]:
for a in [0,1,0,3]:
    if a:
        print(a)
    else:
        print(2)

2
1
2
3

### ["Even" if i%2==0 else "Odd" for i in range(10)]

In [26]:
for i in range(10):
    if i%2==0:
        print("Even")
    else:
        print('Odd')

Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

### [("A" if b=="e" else "c") for b in "comprehension"]

In [27]:
for b in "comprehension":
    if b=="e":
        print('A')
    else:
        print('C')

C
C
C
C
C
A
C
A
C
C
C
C
C

### ["A" if b=="e" else "d" if True else "x" for b in "comprehension"]

In [41]:
for b in "comprehension":
    if b=="e":
        print("A")
    elif "true":
        print("d")
    else:
        print("x")

d
d
d
d
d
A
d
A
d
d
d
d
d

### ["A" if b=="e" else "c" for b in "comprehension" if "comprehension".index(b)%2]

In [54]:
for b in "comprehension":
    if "comprehension".index(b)%2:
        if b=="e":
            print("A")
        else:
            print("C")

C
C
A
A
C
C

### [i for i in range(3) for _ in range(3)]

In [23]:
for _ in range(3):
    if i in range(3):
        print(_)
        print(_)
        print(_)

0
0
0
1
1
1
2
2
2

### [i for i in range(3) if i for _ in range(3) if _ if True if True]

### [i for i in range(3) if (True if i else False)]

In [4]:
for i

[1, 1, 2, 2]

### [[i for j in range(i)] for i in range(3)]

In [3]:
for i in range(3):
    for j in range(i):
        print(i)

1
2
2

### list1 = [10, 20, 30, 40, 50]
### newlist2 = [x if x > 30 else x**2 for x in list1 ]
### print(newlist2, type(newlist2))

In [72]:
list1=[10,20,30,40,50]
for x in list1:
    if x>30:
        print(x)
    else:
        print(x**2)
print("class list")

100
400
900
40
50
class list

In [71]:
list1 = [10, 20, 30, 40, 50]
newlist2 = [x if x > 30 else x**2 for x in list1 ]
print(newlist2, type(newlist2))

[100, 400, 900, 40, 50] <class 'list'>

### a = [22, 13, 45, 50, 98, 69, 43, 44, 1]
### [x+1 if x >= 45 else x+5 for x in a]

In [73]:
a=[22,13,45,50,98,69,43,44,1]
for x in a:
    if x>=45:
        print(x+1)
    else:
        print(x+5)

27
18
46
51
99
70
48
49
6

### X = [1.5, 2.3, 4.4, 5.4, 'n', 1.5, 5.1, 'a']
### X_non_str = [el for el in X if not isinstance(el, str)]
### X_str_changed = ['b' if isinstance(el, str) else el for el in X]
### print(X_non_str)
### print(X_str_changed)

In [74]:
x=[1.5,2.3,4.4,5.4,'n',1.5,5.1,'a']

# [i**2 if i%2==0 else i**3 for i in [1,2,3,4,5]]

In [79]:
for i in [1,2,3,4,5]:
    if i%2==0:
        print(i**2)
    else:
        print(i**3)

1
4
27
16
125

# print([10*i if i%2==0 else 100*i for i in range(6)])

In [80]:
for i in range(6):
    if i%2==0:
        print(10*i)
    else:
        print(100*i)

0
100
20
300
40
500

### ['float' if x % 1 else 'int' for x in range(10)]

In [83]:
for x in range(10):
    if x%1:
        print('float')
    else:
        print('int')

int
int
int
int
int
int
int
int
int
int

### ['float' if (x + x % 2 / 10) % 1 else 'int' for x in range(10)]

In [84]:
for x in range(10):
    if (x+x%2/10)%1:
        print('float')
    else:
        print('int')

int
float
int
float
int
float
int
float
int
float

### [[x*y for y in range(1,11)] for x in range(4,7)]

TypeError: 'bool' object is not iterable

### nums = [1, 3, 5, 7, 9, 11, 13, 15]
### info = ["by 5" if num % 5 == 0 else "by 3" if num % 3 == 0 else "one" if num == 1 else "other" for num in nums]
### info

In [1]:
nums=[1,3,5,7,9,11,13,15]
for num in nums:
    if num%5==0:
        print('by 5')
    elif num%3==0:
        print('by 3')
    elif num==1:
        print('one')
    else:
        print('other')

one
by 3
by 5
other
by 3
other
other
by 5

### nums=[1,3,5,6,9,11,13,15]
### a=["by 5" if num % 5 == 0 else "by 3" if num % 3 == 0 and num % 2 != 0 else "one" if num == 1 else "other" for num in nums]
### a

In [2]:
nums=[1,3,5,6,9,11,13,15]
for num in nums:
    if num%5==0:
        print('by 5')
    elif num%3==0 and num%2!=0:
        print('by 3')
    elif num==1:
        print("one")
    else:
        print('other')

one
by 3
by 5
other
by 3
other
other
by 5