# list comprehension

# 1

In [2]:
["Even" if i%2==0 else "Odd" for i in range(8)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [1]:
for i in range(8):
    if i%2==0:
        print("even")
    else:
        print("odd")

even
odd
even
odd
even
odd
even
odd

# 2

In [3]:
[val if val % 2 else -val for val in range(20) if val % 3]

[1, -2, -4, 5, 7, -8, -10, 11, 13, -14, -16, 17, 19]

In [9]:
for val in range(20):
    if val%3:
        if val%2:
            print(val)
        else:
            print(-val)

1
-2
-4
5
7
-8
-10
11
13
-14
-16
17
19

# 3

In [10]:
["Even" if i%2==0 else "Odd" for i in range(10)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [11]:
for i in range(10):
    if i%2==0:
        print("Enen")
    else:
        print("Odd")

Enen
Odd
Enen
Odd
Enen
Odd
Enen
Odd
Enen
Odd


# 4

In [12]:
[ x if x%2 else x*100 for x in range(1, 10) ]

[1, 200, 3, 400, 5, 600, 7, 800, 9]

In [14]:
for i in range(1,10):
    if i%2:
        print(i)
    else:
        print(i*100)

1
200
3
400
5
600
7
800
9

# 5

In [15]:
[y for y in range(100) if y % 2 == 0 if y % 5 == 0]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [17]:
for y in range(100):
    if y%2==0:
        if y%5==0:
            print(y)

0
10
20
30
40
50
60
70
80
90

# 6

In [18]:
a = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[x+1 if x >= 45 else x+5 for x in a]

[27, 18, 46, 51, 99, 70, 48, 49, 6]

In [19]:
for x in a:
    if x>=45:
        print(x+1)
    else:
        print(x+5)

27
18
46
51
99
70
48
49
6

# 7

In [20]:
v = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[ (x+1 if x >=45 else x+5)  for x in v ]

[27, 18, 46, 51, 99, 70, 48, 49, 6]

In [21]:
for x in v:
    if x>=45:
        print(x+1)
    else:
        print(x+5)

27
18
46
51
99
70
48
49
6

# 8

In [22]:
[x if x % 2 else x * 100 for x in range(1, 10) ]

[1, 200, 3, 400, 5, 600, 7, 800, 9]

In [23]:
for x in range(1, 10):
    if x%2:
        print(x)
    else:
        print(x*100)

1
200
3
400
5
600
7
800
9

# 9

In [24]:
[[x*100, x][x % 2 != 0] for x in range(1,11)]

[1, 200, 3, 400, 5, 600, 7, 800, 9, 1000]

In [25]:
for x in range(1,11):
    if x%2!=0:
        print(x)
    else:
        print(x*100)

1
200
3
400
5
600
7
800
9
1000

# 10

In [26]:
[x if x % 2 != 0 else x * 100 for x in range(1,10)]

[1, 200, 3, 400, 5, 600, 7, 800, 9]

In [27]:
for x in range(1,10):
    if x%2!=0:
        print(x)
    else:
        print(x*100)

1
200
3
400
5
600
7
800
9

# 11

In [28]:
[a if a else 2 for a in [0,1,0,3]]

[2, 1, 2, 3]

In [29]:
 for a in [0,1,0,3]:
        if a:
            print(a)
        else:
            print(2)

2
1
2
3

# 12

In [30]:
["Even" if i%2==0 else "Odd" for i in range(10)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [31]:
for i in range(10):
    if i%2==0:
        print("Even")
    else:
        print("Odd")

Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

# 13

In [32]:
[("A" if b=="e" else "c") for b in "comprehension"]

['c', 'c', 'c', 'c', 'c', 'A', 'c', 'A', 'c', 'c', 'c', 'c', 'c']

In [35]:
 for b in "comprehension":
        if b=="e":
            print("A")
        else:
            print("C")

C
C
C
C
C
A
C
A
C
C
C
C
C

# 14

In [36]:
["A" if b=="e" else "d" if True else "x" for b in "comprehension"]

['d', 'd', 'd', 'd', 'd', 'A', 'd', 'A', 'd', 'd', 'd', 'd', 'd']

In [41]:
for b in "comprehension":
    if b=="e":
        print("A")
    elif True:
        print("d")
    else:
        print("x")

d
d
d
d
d
A
d
A
d
d
d
d
d

# 15

In [42]:
["A" if b=="e" else "c" for b in "comprehension" if "comprehension".index(b)%2]

['c', 'c', 'A', 'A', 'c', 'c']

In [44]:
for b in "comprehension":
    if "comprehension".index(b)%2:
        if b=="e":
            print("A")
        else:
            print("c")

c
c
A
A
c
c

# 16

In [45]:
[i for i in range(3) for _ in range(3)]

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [46]:
for i in range(3):
    for _ in range(3):
        print(i)

0
0
0
1
1
1
2
2
2

# 17

In [47]:
[i for i in range(3) if i for _ in range(3) if _ if True if True]

[1, 1, 2, 2]

In [48]:
for i in range(3):
    if i:
        for _ in range(3):
             if _ :
                    if True:
                        if True:
                            print(i)

1
1
2
2

# 18

In [49]:
[i for i in range(3) if (True if i else False)]

[1, 2]

In [45]:
for i in range(3):
    if i:
        #print("true")
        print(i)
    else:
        print("false")
    #print(i)

false
1
2

# 19

In [1]:
[[i for j in range(i)] for i in range(3)]

[[], [1], [2, 2]]

In [2]:
for i in range(3):
    for j in range(i):
        print(i)

1
2
2

# 20

In [4]:
list1 = [10, 20, 30, 40, 50]
newlist2 = [x if x > 30 else x**2 for x in list1 ]
print(newlist2, type(newlist2))

[100, 400, 900, 40, 50] <class 'list'>

In [10]:
list1 = [10, 20, 30, 40, 50]
newlist2=[x in list1]
for x in list1:
    if x>30:
        print(x)
    else:
        print(x**2)
print(newlist2,type(newlist2))

100
400
900
40
50
[True] <class 'list'>

# 21

In [11]:
a = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[x+1 if x >= 45 else x+5 for x in a]

[27, 18, 46, 51, 99, 70, 48, 49, 6]

In [12]:
a = [22, 13, 45, 50, 98, 69, 43, 44, 1]
for x in a:
    if x >=45:
        print(x+1)
    else:
        print(x+5)

27
18
46
51
99
70
48
49
6

# 22

In [13]:
v = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[ (x+1 if x >=45 else x+5)  for x in v ]

[27, 18, 46, 51, 99, 70, 48, 49, 6]

In [14]:
v = [22, 13, 45, 50, 98, 69, 43, 44, 1]
for x in v:
    if x>=45:
        print(x+1)
    else:
        print(x+5)

27
18
46
51
99
70
48
49
6

# 23

In [15]:
X = [1.5, 2.3, 4.4, 5.4, 'n', 1.5, 5.1, 'a']
X_non_str = [el for el in X if not isinstance(el, str)]
X_str_changed = ['b' if isinstance(el, str) else el for el in X]
print(X_non_str)
print(X_str_changed)

[1.5, 2.3, 4.4, 5.4, 1.5, 5.1]
[1.5, 2.3, 4.4, 5.4, 'b', 1.5, 5.1, 'b']

In [51]:
X = [1.5, 2.3, 4.4, 5.4, 'n', 1.5, 5.1, 'a']
for el in X:
    #if not isinstance(el,str):
        print(el)
for el in x:
    if isinstance (el,str):
        print("b")
    else:
        print(el)

1.5
2.3
4.4
5.4
n
1.5
5.1
a

TypeError: 'int' object is not iterable

# 24

In [16]:
[i**2 if i%2==0 else i**3 for i in [1,2,3,4,5]]

[1, 4, 27, 16, 125]

In [17]:
for i in [1,2,3,4,5]:
    if i%2==0:
        print(i**2)
    else:
        print(i**3)

1
4
27
16
125

# 25

In [19]:
print([10*i if i%2==0 else 100*i for i in range(6)])

[0, 100, 20, 300, 40, 500]

In [20]:
for i in range(6):
    if i%2==0:
        print(10*i)
    else:
        print(100*i)

0
100
20
300
40
500

# 26

In [21]:
['float' if x % 1 else 'int' for x in range(10)]

['int', 'int', 'int', 'int', 'int', 'int', 'int', 'int', 'int', 'int']

In [22]:
for x in range(10):
    if x%1:
        print("float")
    else:
        print("int")

int
int
int
int
int
int
int
int
int
int

# 27

In [23]:
['float' if (x + x % 2 / 10) % 1 else 'int' for x in range(10)]

['int',
 'float',
 'int',
 'float',
 'int',
 'float',
 'int',
 'float',
 'int',
 'float']

In [25]:
for x in range(10):
    if(x + x % 2/ 10)%1:
        print("float")
    else:
        print("int")

int
float
int
float
int
float
int
float
int
float

# 28

In [26]:
[[x*y for y in range(1,11)] for x in range(4,7)]

[[4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60]]

In [28]:
for x in range(4,7):
    for y in range(1,11):
        print(x*y)

4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60

# 29

In [29]:
nums = [1, 3, 5, 7, 9, 11, 13, 15]
info = ["by 5" if num % 5 == 0 else "by 3" if num % 3 == 0 else "one" if num == 1 else "other" for num in nums]
info

['one', 'by 3', 'by 5', 'other', 'by 3', 'other', 'other', 'by 5']

In [37]:
nums=[1,3,5,7,9,11,13,15]
for num in nums:
    if num % 5 == 0:
        print("by 5")
    elif num%3==0:
        print("by 3")
    elif num==1:
        print("one")
    else:
        print("other")

one
by 3
by 5
other
by 3
other
other
by 5

# 30

In [38]:
nums=[1,3,5,6,9,11,13,15]
a=["by 5" if num % 5 == 0 else "by 3" if num % 3 == 0 and num % 2 != 0 else "one" if num == 1 else "other" for num in nums]
a

['one', 'by 3', 'by 5', 'other', 'by 3', 'other', 'other', 'by 5']

In [39]:
nums=[1,3,5,6,9,11,13,15]
for num in nums:
    if num % 5 == 0:
        print("by 5")
    elif num%3==0 and num%2!=0:
        print("by 3")
    elif num==1:
        print("one")
    else:
        print("other")

one
by 3
by 5
other
by 3
other
other
by 5