### 1.["Even" if i%2==0 else "Odd" for i in range(8)]

In [1]:
for i in range(8):
    if i% 2==0:
        print("even")
    else:
        print("odd")

even
odd
even
odd
even
odd
even
odd

### 2.[val if val % 2 else -val for val in range(20) if val % 3]

In [4]:
for val in range(20):
    if val% 3:
        if val% 2:
            print(val)
        else:
            print(-val)

1
-2
-4
5
7
-8
-10
11
13
-14
-16
17
19

### 3.["Even" if i%2==0 else "Odd" for i in range(10)]

In [5]:
for i in range(10):
    if i% 2==0:
        print("even")
    else:
        print("odd")

even
odd
even
odd
even
odd
even
odd
even
odd

### 4.[ x if x%2 else x*100 for x in range(1, 10) ]

In [6]:
for x in range (1,10):
    if x% 2:
        print(x)
    else:
        print(x*100)

1
200
3
400
5
600
7
800
9

### 5.[y for y in range(100) if y % 2 == 0 if y % 5 == 0]

In [7]:
for y in range(100):
    if y% 2==0:
        if y% 5==0:
            print(y)

0
10
20
30
40
50
60
70
80
90

### 6.a = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[x+1 if x >= 45 else x+5 for x in a]

In [8]:
a=[22,13,45,50,98,69,43,44,1]
for x in a:
    if x>=45:
        print(x+1)
    else:
        print(x+5)

27
18
46
51
99
70
48
49
6

### 7.v = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[ (x+1 if x >=45 else x+5)  for x in v ]

In [9]:
v=[22,13,45,50,98,69,43,44,1]
for x in v:
    if x>=45:
        print(x+1)
    else:
        print(x+5)

27
18
46
51
99
70
48
49
6

### 8.[x if x % 2 else x * 100 for x in range(1, 10) ]

In [10]:
for x in range(1,10):
    if x% 2:
        print(x)
    else:
        print(x*100)

1
200
3
400
5
600
7
800
9

### 9.[[x*100, x][x % 2 != 0] for x in range(1,11)]

In [11]:
for x in range(1,11):
    if x% 2!=0:
        print(x)
    else:
        print(x*100)

1
200
3
400
5
600
7
800
9
1000

### 10. [x if x % 2 != 0 else x * 100 for x in range(1,10)]

In [12]:
for x in range(1,10):
    if x% 2!=0:
        print(x)
    else:
        print(x*100)

1
200
3
400
5
600
7
800
9

### 11.[a if a else 2 for a in [0,1,0,3]]

In [13]:
for a in [0,1,0,3]:
    if a:
        print(a)
    else:
        print(2)

2
1
2
3

### 12.["Even" if i%2==0 else "Odd" for i in range(10)]

In [14]:
for i in range(10):
    if i% 2==0:
        print("even")
    else:
        print("odd")

even
odd
even
odd
even
odd
even
odd
even
odd

### 13.[("A" if b=="e" else "c") for b in "comprehension"]

In [16]:
for b in "comprehesion":
    if b=="e":
        print("A")
    else:
        print("C")

C
C
C
C
C
A
C
A
C
C
C
C

### 14. ["A" if b=="e" else "d" if True else "x" for b in "comprehension"]

In [21]:
for b in "comprehension":
    if b=="e":
        print("A")
    elif True:
        print("d")
    else:
        print("x")

d
d
d
d
d
A
d
A
d
d
d
d
d

### 15.["A" if b=="e" else "c" for b in "comprehension" if "comprehension".index(b)%2]

In [29]:
for b in "comprehension":
    if b=="e":
        print("A")
    elif "comprehension".index(b)% 2:
        print("c")

c
c
A
A
c
c

###  16.[i for i in range(3) for _ in range(3)]

In [55]:
for i in range(3):  
     for _ in range(3):
        print(i)

0
0
0
1
1
1
2
2
2

### 17.[i for i in range(3) if i for _ in range(3) if _ if True if True]

In [20]:
for i in range(3):
        if i:
            if True:
                for _ in range(3):
                    if _:
                        if True:
                            print(i)

1
1
2
2

### 18.[i for i in range(3) if (True if i else False)]

In [89]:
for i in range(3):
    if i:
        if True:
            print(i)
        elif False:
            print(i)

1
2

### 19.[[i for j in range(i)] for i in range(3)]

In [111]:
for i in range(3):
    for j in range(i):
        print([i])

[1]
[2]
[2]

### 20.list1 = [10, 20, 30, 40, 50]newlist2 = [x if x > 30 else x**2 for x in list1 ]print(newlist2, type(newlist2))

In [14]:
list1=[10,20,30,40,50]
newlist2=[x in list1]
for x in list1:
    if x>30:
        print(x)
    else:
        print(x**2)
print(newlist2,type (newlist2))

100
400
900
40
50
[True] <class 'list'>

### 21.a = [22, 13, 45, 50, 98, 69, 43, 44, 1][x+1 if x >= 45 else x+5 for x in a]

In [16]:
a = [22, 13, 45, 50, 98, 69, 43, 44, 1]
for x in a:
    if x>=45:
        print(x+1)
    else:
        print(x+5)

27
18
46
51
99
70
48
49
6

### 22.v = [22, 13, 45, 50, 98, 69, 43, 44, 1][ (x+1 if x >=45 else x+5)  for x in v ]

In [17]:
v = [22, 13, 45, 50, 98, 69, 43, 44, 1]
for x in v:
    if x>=45:
        print(x+1)
    else:
        print(x+5)

27
18
46
51
99
70
48
49
6

### 23. X = [1.5, 2.3, 4.4, 5.4, 'n', 1.5, 5.1, 'a']X_non_str = [el for el in X if not isinstance(el, str)]X_str_changed = ['b' if isinstance(el, str) else el for el in X]print(X_non_str)print(X_str_changed)

In [35]:
x=[1.5, 2.3, 4.4, 5.4, "n", 1.5, 5.1, "a"]
for el in x:
    if not isinstance(el,str):
        print(el)
    if isinstance(el,str):
        print("b")

1.5
2.3
4.4
5.4
b
1.5
5.1
b

### 24. [i**2 if i%2==0 else i**3 for i in [1,2,3,4,5]]

In [36]:
for i in[1,2,3,4,5]:
    if i%2==0:
        print(i**2)
    else:
        print(i**3)

1
4
27
16
125

### 25.print([10*i if i%2==0 else 100*i for i in range(6)])

In [38]:
for i in range(6):
    if i%2==0:
        print(10*i)
    else:
        print(100*i)

0
100
20
300
40
500

### 26.['float' if x % 1 else 'int' for x in range(10)]

In [42]:
for x in range(10):
    if x%1:
        print("'float'")
    else:
        print("'int'")

'int'
'int'
'int'
'int'
'int'
'int'
'int'
'int'
'int'
'int'

### 27.['float' if (x + x % 2 / 10) % 1 else 'int' for x in range(10)]

In [44]:
for x in range(10):
    if(x+x%2/10)%1:
        print("float")
    else:
            print("int")

int
float
int
float
int
float
int
float
int
float

### 28.['float' if x % 1 else 'int' for x in range(10)]

In [49]:
for x in range(10):
    if x % 1:
        print('float')
    else:
        print('int')

int
int
int
int
int
int
int
int
int
int

### 29.nums = [1, 3, 5, 7, 9, 11, 13, 15]
## info = ["by 5" if num % 5 == 0 else "by 3" if num % 3 == 0 else "one" if num == 1 else "other" for num in nums]
## info

In [53]:
num = [1, 3, 5, 7, 9, 11, 13, 15]
for num in num:
    if num % 5 == 0:
        print("by5")
    elif num % 3 == 0:
        print("by3")
    elif num == 1:
        print("one")
    else:
        print("other")

one
by3
by5
other
by3
other
other
by5

### 30.nums=[1,3,5,6,9,11,13,15]
### a=["by 5" if num % 5 == 0 else "by 3" if num % 3 == 0 and num % 2 != 0 else "one" if num == 1 else "other" for num in nums]
## a

In [55]:
num = [1, 3, 5, 6, 9, 11, 13, 15]
for num in num:
    if num % 5 == 0:
        print("'by5'") 
    elif num % 3 ==0 and num % 2!=0:
        print("'by3'")
    elif num == 1:
        print("'one'")
    else:
        print("'other'")

'one'
'by3'
'by5'
'other'
'by3'
'other'
'other'
'by5'