In [1]:
import pandas as pd
import numpy as np
from lasso import Lasso

In [3]:
df = pd.read_csv("Boston.csv", index_col=0)
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [6]:
y = df.iloc[:,  13].values
df.mean()

crim         3.613524
zn          11.363636
indus       11.136779
chas         0.069170
nox          0.554695
rm           6.284634
age         68.574901
dis          3.795043
rad          9.549407
tax        408.237154
ptratio     18.455534
black      356.674032
lstat       12.653063
medv        22.532806
dtype: float64

In [7]:
y = df.iloc[:,  13].values
df = (df - df.mean())/df.std()
X = df.iloc[:, :13].values

In [13]:
model = Lasso(alpha=1.0, max_iter=1000)
model.fit(X, y)

In [14]:
print(model.intercept_)
print(model.coef_)

22.532806324110688
[ 0.          0.          0.          0.          0.          2.71517992
  0.          0.          0.          0.         -1.34423287  0.18020715
 -3.54700664]