In [1]:
["Even" if i%2==0 else "Odd" for i in range(8)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [2]:
[val if val % 2 else -val for val in range(20) if val % 3]

[1, -2, -4, 5, 7, -8, -10, 11, 13, -14, -16, 17, 19]

In [3]:
["Even" if i%2==0 else "Odd" for i in range(10)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [4]:
[ x if x%2 else x*100 for x in range(1, 10) ]

[1, 200, 3, 400, 5, 600, 7, 800, 9]

In [5]:
[y for y in range(100) if y % 2 == 0 if y % 5 == 0]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [6]:
a = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[x+1 if x >= 45 else x+5 for x in a]

[27, 18, 46, 51, 99, 70, 48, 49, 6]

In [7]:
v = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[ (x+1 if x >=45 else x+5)  for x in v ]

[27, 18, 46, 51, 99, 70, 48, 49, 6]

In [8]:
[x if x % 2 else x * 100 for x in range(1, 10) ]

[1, 200, 3, 400, 5, 600, 7, 800, 9]

In [9]:
[[x*100, x][x % 2 != 0] for x in range(1,11)]

[1, 200, 3, 400, 5, 600, 7, 800, 9, 1000]

In [10]:
[x if x % 2 != 0 else x * 100 for x in range(1,10)]

[1, 200, 3, 400, 5, 600, 7, 800, 9]

In [11]:
[a if a else 2 for a in [0,1,0,3]]

[2, 1, 2, 3]

In [12]:
["Even" if i%2==0 else "Odd" for i in range(10)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [13]:
[("A" if b=="e" else "c") for b in "comprehension"]

['c', 'c', 'c', 'c', 'c', 'A', 'c', 'A', 'c', 'c', 'c', 'c', 'c']

In [14]:
["A" if b=="e" else "d" if True else "x" for b in "comprehension"]

['d', 'd', 'd', 'd', 'd', 'A', 'd', 'A', 'd', 'd', 'd', 'd', 'd']

In [15]:
["A" if b=="e" else "c" for b in "comprehension" if "comprehension".index(b)%2]

['c', 'c', 'A', 'A', 'c', 'c']

In [16]:
[i for i in range(3) for _ in range(3)]

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [17]:
[i for i in range(3) if i for _ in range(3) if _ if True if True]

[1, 1, 2, 2]

In [18]:
[i for i in range(3) if (True if i else False)]

[1, 2]

In [19]:
[[i for j in range(i)] for i in range(3)]

[[], [1], [2, 2]]

In [20]:
list1 = [10, 20, 30, 40, 50]
newlist2 = [x if x > 30 else x**2 for x in list1 ]
print(newlist2, type(newlist2))

[100, 400, 900, 40, 50] <class 'list'>

In [21]:
a = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[x+1 if x >= 45 else x+5 for x in a]

[27, 18, 46, 51, 99, 70, 48, 49, 6]

In [22]:
v = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[ (x+1 if x >=45 else x+5)  for x in v ]

[27, 18, 46, 51, 99, 70, 48, 49, 6]

In [23]:
X = [1.5, 2.3, 4.4, 5.4, 'n', 1.5, 5.1, 'a']
X_non_str = [el for el in X if not isinstance(el, str)]
X_str_changed = ['b' if isinstance(el, str) else el for el in X]
print(X_non_str)
print(X_str_changed)

[1.5, 2.3, 4.4, 5.4, 1.5, 5.1]
[1.5, 2.3, 4.4, 5.4, 'b', 1.5, 5.1, 'b']

In [24]:
[i**2 if i%2==0 else i**3 for i in [1,2,3,4,5]]

[1, 4, 27, 16, 125]

In [25]:
print([10*i if i%2==0 else 100*i for i in range(6)])

[0, 100, 20, 300, 40, 500]

In [26]:
['float' if x % 1 else 'int' for x in range(10)]

['int', 'int', 'int', 'int', 'int', 'int', 'int', 'int', 'int', 'int']

In [27]:
['float' if (x + x % 2 / 10) % 1 else 'int' for x in range(10)]

['int',
 'float',
 'int',
 'float',
 'int',
 'float',
 'int',
 'float',
 'int',
 'float']

In [28]:
[[x*y for y in range(1,11)] for x in range(4,7)]

[[4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60]]

In [29]:
nums = [1, 3, 5, 7, 9, 11, 13, 15]
info = ["by 5" if num % 5 == 0 else "by 3" if num % 3 == 0 else "one" if num == 1 else "other" for num in nums]
info

['one', 'by 3', 'by 5', 'other', 'by 3', 'other', 'other', 'by 5']

In [30]:
nums=[1,3,5,6,9,11,13,15]
a=["by 5" if num % 5 == 0 else "by 3" if num % 3 == 0 and num % 2 != 0 else "one" if num == 1 else "other" for num in nums]
a

['one', 'by 3', 'by 5', 'other', 'by 3', 'other', 'other', 'by 5']